%h2= @restaurant.name
%p= @restaurant.description
%p
%h4 Reviews
%ul
  - @restaurant.reviews.each do |review|
    %li
      = review.thoughts
      \:
      \#{review.rating}
      - if review.user == current_user
        \:
        = link_to "Delete review", restaurant_review_path(@restaurant, review), method: :delete
